
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section footerJS{
    <script src="~/Assets/client/js/controllers/shoppingCart.js"></script>
}

<div class="sec sec__shopcart">

    <div class="container" id="cartContent" >
        @*<div class="alert alert-success" id="divCheckouSuccess" style="display:none;">
            <span class="-ap icon-info-with-circle"></span>
            Bạn đã mua hàng thành công
            <a href="#" class="alert-link">Quay lại trang chủ để tiếp tục mua hàng</a>
        </div>*@

        <div class="sub-name-step" style="font-size: 25px">Giỏ hàng của tôi</div>
        <div class="row">
            <div class="sec__shopcart__info col-md-8 col-sm-12 col-xs-12">
                <div class="box-user__info panel">
                    <div class="content-info-check">
                        <div class="table-product">
                            <div class="title">
                                <div class="row">
                                    <div class="col-md-6 col-sm-4 col-xs-4">
                                        <span class="">Thong tin Sản phẩm</span>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <span class="">Số lượng</span>
                                    </div>
                                    <div class="col-md-3 col-sm-4 col-xs-4">
                                        <span class="textr">Thành tiền</span>
                                    </div>
                                </div>
                            </div>
                            <div class="content " id="cartBody"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 col-price-total">
                <div class="name-top__step">Thông tin đơn hàng</div>
                <div class="">

                    <div class="price-total">
                        <div class="pull-left">Thành tiền :</div>
                        <div class="pull-right"> <span id="lblTotalOrder"></span></div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="row col-md-12">
                        <button class="btn btn-success col-md-6 " id="btnContinue">Tiếp tục mua hàng</button>
                        @* <button class="btn btn-danger  col-md-4 ml-2" id="btnDeleteAll">Xóa giỏ hàng</button> *@
                        <button class="btn btn-danger  col-md-5" style="margin-left: 5px" id="btnCheckout">Thanh toán</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="sec__shopcart__info col-md-12 col-sm-12 col-xs-12" id="divCheckout" style="display:none;">
            <div class="box-user__info panel">
                <div class="title">Thông tin thanh toán và nhận hàng</div>
                <div class="content">
                    <form method="post" id="frmPayment">
                        <div class="row">
                            @if (Request.IsAuthenticated)
                            {
                                <label>
                                    <input type="checkbox" id="chkUserLoginInfo" />
                                    Sử dụng thông tin đăng nhập
                                </label>
                            }
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Số điện thoại:</div>
                                    <input type="text" class="form-control" id="txtPhone" name="phone" placeholder="SĐT">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <div class="label">Họ tên:</div>
                                    <input type="text" class="form-control" id="txtName" name="name" placeholder="Tên">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="label">Email</div>
                            <input type="text" class="form-control" id="txtEmail" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <div class="label">Địa chỉ:</div>
                            <input type="text" class="form-control" id="txtAddress" name="address" placeholder="Địa chỉ">
                        </div>

                        <div class="form-group">
                            <div class="label">Ghi chú:</div>
                            <textarea name="" cols="30" rows="10" class="form-control" id="txtMessage" placeholder="Nội dung"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger  col-md-4 col-sm-4 col-md-offset-4" id="btnCreateOrder">Thanh toán</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>



    @*<div class="box-user__info panel">
        <div class="title">Hình thức thanh toán</div>
        <div class="content">
            <div class="list-payment">
                <div class="item active">
                    <img src="uploads/payment/bank-transfer.png" alt="">
                </div>
                <div class="item">
                    <img src="uploads/payment/mastercard.png" alt="">
                </div>
                <div class="item">
                    <img src="uploads/payment/paypal.png" alt="">
                </div>
                <div class="item">
                    <img src="uploads/payment/visa.png" alt="">
                </div>
            </div>
        </div>
    </div>*@

</div>

<script id="tplCart" type="x-tmpl-mustache">
    <div class="content ">
        <div class="view-cart__product">
            <div class="row">
                <div class="col-md-6 col-sm-3 col-xs-3">
                    <div class="img-product">
                        <img src="{{Image}}" alt="Name your Product ">
                    </div>
                    <div class="sub__product">
                        <p class="product__name">
                            {{ProductName}}
                        </p>
                        <div class="product__price hidden-pc">
                            <div class="product__price__regular">{{PriceF}} <span class="unit">đ</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2 col-xs-2 col-quanlity">
                    <div class="product__quantity">
                        <button class="btn-minus btn">
                            -
                        </button>
                        <input class="input-number txtQuantity" data-id="{{ProductId}}" data-price="{{Price}}" value="{{Quantity}}" type="text">
                        <button class="btn-plus btn">
                            +
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-3 hidden-mb">
                    <div class="product__price">
                        <div class="product__price__regular" id="amount_{{ProductId}}">{{Amount}}<span class="unit">đ</span></div>

                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 col-trash-pr">
                    <a href="" class="btn-delete btnDeleteItem" data-id="{{ProductId}}"><span class="icon -ap icon-trash2"></span></a>
                </div>
            </div>
        </div>
        <!--/-->
    </div>
</script>

