<footer class="footer">
    <!-- End topfoter -->
    <!-- footer -->
    <div class="container">
        <div class="footer__box">
            <div class="">
                <div class="col-md-3  col-sm-3 col-xs-12 contact-ft">
                    <div class="box-line">
                        <h3 class="footer__title ">MobileStore.com.vn</h3>
                        <div class="inf-contact">
                            <div class="contact">
                                <p class="info ">
                                    <span class="icon -ap icon-location3"></span>
                                    <span class="txt">
                                        <span class="name-header texU disb fow">Địa chỉ: </span>
                                        <span class="disb">15A Nguyễn Khang, P.Yên Hòa, Q.Cầu Giấy, TP.HN</span>
                                    </span>
                                </p>
                            </div>
                            <div class="contact">
                                <p class="info ">
                                    <span class="icon -ap  icon-envelope2"></span>
                                    <span class="txt">
                                        <span class="name-header texU disb fow">Email:</span>
                                        <span class="disb">Quoc7533@gmail.com</span>
                                    </span>
                                </p>
                            </div>
                            <div class="contact">

                                <p class="info ">
                                    <span class="icon fa fa-phone"></span>
                                    <span class="txt">
                                        <span class="name-header texU disb fow"> Phone: </span>
                                        <span class="disb">03.34.8583 - 08.68.99.1111</span>
                                    </span>
                                </p>
                            </div>
                            <ul class="list-social">
                                <li class="item"><a href="" class="btn"><span class="fa fa-facebook"></span></a></li>
                                <li class="item"><a href="" class="btn"><span class="fa fa-google"></span></a></li>
                                <li class="item"><a href="" class="btn"><span class="fa fa-youtube-play"></span></a></li>
                                <li class="item"><a href="" class="btn"><span class="fa fa-twitter"></span></a></li>
                            </ul>
                            <div class="cer">
                                <img src="/Assets/client/uploads/dathongbao.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="box-line">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h3 class="footer__title ">Chăm sóc khách hàng</h3>
                            <div class="list">
                                <a href="#" class="url">Mua hàng online</a>
                                <a href="#" class="url">fanpage hộ trợ khách hàng</a>
                                <a href="#" class="url">Giới thiệu</a>

                            </div>
                        </div>
                        <!--/-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h3 class="footer__title ">Đăng ký</h3>
                            <div class="list">
                                <div class="regs-frm">
                                    <div class="sub">
                                        <input type="text" class="form-control" placeholder="Email của bạn">
                                        <p><i>Nhập email của bạn để nhận bản tin</i></p>
                                        <button class="btn btn-regs__frm">Đăng ký</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h3 class="footer__title ">Chính sách</h3>
                            <div class="list">
                                <a href="#" class="url">Hàng chính hãng chất lượng cao</a>
                                <a href="#" class="url">Thanh toán online</a>
                                <a href="#" class="url">Blog</a>
                                <a href="#" class="url">Giới thiệu</a>

                            </div>
                        </div>
                        <!--/-->
                    </div>
                    <!---->
                </div>
                <!---->
            </div>

            @*<div class="copyright">
            Copyright ® 2019 <a href="#" class="url">QuocNP1</a>
            </div>
        </div>*@
    </div>
    <!-- End footer -->
</footer>